.question {
  &__title {
    font-size: 1.25rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__timer {
    align-items: center;
    display: flex;
    height: 1rem;
    justify-content: end;

    progress {
      appearance: none;
      height: 0.5rem;
      width: 300px;

      &::-webkit-progress-bar {
        appearance: none;
        background-color: #dbeafe;
        border-radius: 1rem;
      }

      &::-webkit-progress-value {
        background-color: #1e40af;
        border-radius: 1rem;
      }
    }
  }
}
