.question {
  &__title {
    font-size: 1.25rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__timer {
    align-items: center;
    display: flex;
    height: 1rem;
    justify-content: end;

    progress {
      height: 0.5rem;
      width: 200px;

      &::-webkit-progress-bar {
        border-radius: 1rem;
      }

      &::-webkit-progress-value {
        border-radius: 1rem;
        transition: width 0.1s linear;
      }
    }
  }
}
