.welcome {
  text-align: center;

  &__start {
    all: unset;
    background-color: #1e40af;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #172554;
    }
  }
}
