.quiz {
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  margin: 2rem auto;
  max-width: 700px;
  position: relative;
  width: calc(100% - 4rem);

  &__header {
    align-items: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;

    &-title {
      text-align: center;
      padding: 3rem 0;
    }

    progress {
      appearance: none;
      height: 0.25rem;
      position: absolute;
      width: 100%;

      &::-webkit-progress-bar {
        appearance: none;
        background: #dbeafe;
      }

      &::-webkit-progress-value {
        background: #1e40af;
      }
    }
  }

  &__question {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  &__status {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}
