.quiz {
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  margin: 2rem auto;
  max-width: 700px;
  position: relative;
  width: calc(100% - 4rem);

  &__header {
    align-items: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-radius: 0.5rem 0.5rem 0 0;

    &-title {
      text-align: center;
      padding: 3rem 0;
    }
  }
}
