.option {
  background-color: #cbd5e1;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem;

  &:not(.option--answered):hover {
    background-color: #94a3b8;
  }

  &--answered {
    &-right {
      background-color: #bbf7d0;
      color: #166534;
    }
    &-wrong {
      background-color: #fecaca;
      color: #991b1b;
    }
  }
}
